# ── Base de datos ─────────────────────────────────────────────────
POSTGRES_DB=ifdc
POSTGRES_USER=ifdc_user
POSTGRES_PASSWORD=

# ── Backend ───────────────────────────────────────────────────────
DB_HOST=db
DB_NAME=ifdc
DB_USER=ifdc_user
DB_PASS=

# ── Contraseñas de acceso ─────────────────────────────────────────
# Cambiar por contraseñas seguras antes de usar en producción
SECRETARIA_PASSWORD= Secre12456
TIC_PASSWORD=Tic12456
